<app-top-menu></app-top-menu>
<div *ngIf="group">
    <h2>{{ group?.name }}</h2>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>

<app-display-channels-list [groupId]="groupId"></app-display-channels-list>

<div *ngIf="isAdmin">
    <a [routerLink]="['/channels/add', group?._id]" class="btn btn-primary">Add Channel</a>
    <a [routerLink]="['/groups/manageusers', group?._id]" class="btn btn-primary">Add/Remove Users</a>
</div>

<div *ngIf="isSuperUser">
    <a [routerLink]="['/groups/remove', group?._id]" class="btn btn-danger">Delete Group</a>
</div>
