<app-top-menu></app-top-menu>

<div *ngIf="channel; else loading">
    <h2>Channel: {{ channel.name }}</h2>
    <!-- <p>User Count: {{ userCount }}</p> -->
    <p>Channel Notice: {{ channelNotice }}</p>
</div>

<ng-template #loading>
    <p>Loading channel data...</p>
</ng-template>

<div *ngFor="let m of messages" [ngClass]="{'message-box': true, 'my-message': m.id === userId, 'other-message': m.id !== userId}">
    <div class="author-info">
        <div *ngIf="m.authorImage">
            <img [src]="m.authorImage" alt="image" class="author-image">
        </div>
        <div *ngIf="m.authorName">
            <p class="author-name">{{m.authorName}}</p>
        </div>
    </div>

    <div class="message-content">
        <div *ngIf="m.message">
            {{m.message}}
        </div>
        <div *ngIf="m.image">
            <img [src]="m.image" alt="image" class="message-image">
        </div>
    </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
</div>    

<div class="container">
    <form>
        <div class="form-group">
            <label for="messagecontent"> New Message </label>
            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent" class="form-control">
        </div>    
        <div class="form-group">
            <button (click)="chat()" class="btn btn-primary"> Send </button>
            <button (click)="leavingRoom()" class="btn btn-primary"> Leave Channel </button>
        </div>    
        <div class="mb-3">
            <label for="image" class="form-label">Image Upload:</label>
            <input type="file" id="image" (change)="onFileChange($event)" class="form-control" #fileInput required>
        </div>
    </form>    
</div>    

<div *ngIf="isAdmin">
    <!-- <h2>Admin</h2> -->
    <a [routerLink]="['/channels/manageusers', channel?._id]" class="btn btn-primary">Add/Remove Users</a>
</div>

<div *ngIf="isOwner">
    <!-- <h2>Owner</h2> -->
    <a [routerLink]="['/channels/remove', channel?._id]" class="btn btn-danger">Delete Channel</a>
</div>
